<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Angular 6 Template-Driven Form Validation</h3>
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="model.firstName"
              #firstName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
              required
              (change)="log(firstName)"
            />
            <div
              *ngIf="f.submitted && firstName.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="model.lastName"
              #lastName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              required
            />
            <div
              *ngIf="f.submitted && lastName.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div> -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
              required
              minlength="6"
            />
            <div
              *ngIf="f.submitted && password.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="optEmail">Opt for Emails</label>
            <select
              #optEmail="ngModel"
              class="form-control"
              id="inputAlert"
              name="optEmail"
              [(ngModel)]="model.optEmail"
              [ngClass]="{ 'is-invalid': f.submitted && optEmail.invalid }"
              required
            >
              <option value="undefined" disabled selected hidden>Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <div
              *ngIf="f.submitted && optEmail.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="optEmail.errors.required">Opt Email is required</div>
            </div>
          </div>

          <div class="form-group" *ngIf="optEmail.value == 'Yes'">
            <label for="emailOpt">Email Opted for Text</label>
            <input
              type="text"
              class="form-control"
              name="emailOptTxt"
              [(ngModel)]="model.emailOptTxt"
              #emailOpttxt="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && emailOpttxt.invalid }"
              required
              email
            />
            <div
              *ngIf="f.submitted && emailOpttxt.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="emailOpttxt.errors.required">
                Email Opted For is required
              </div>
              <div *ngIf="emailOpttxt.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a
      href="http://jasonwatmore.com/post/2018/05/11/angular-6-template-driven-forms-validation-example"
      target="_top"
      >Angular 6 - Template-Driven Forms Validation Example</a
    >
  </p>
  <p>
    <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>
